{extends file="helpers/form/form.tpl"}

{block name="field"}
    {if $input.type == 'text'}
        <div class="col-lg-9 {if !isset($input.label)}col-lg-offset-3{/if}">
            {foreach $languages as $language}
                {if $languages|count > 1}
                    <div class="translatable-field lang-{$language.id_lang}" {if $language.id_lang != $defaultFormLanguage}style="display:none"{/if}>
                {/if}

                <div class="row">
                    <div class="col-lg-9">
                        <input type="text" id="{$input.name}_{$language.id_lang}" name="{$input.name}_{$language.id_lang}"
                               value="{$fields_value[$input.name][$language.id_lang]|escape:'html':'UTF-8'}">
                    </div>

                    {if $languages|count > 1}
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-default dropdown-toggle" tabindex="-1" data-toggle="dropdown">
                                {$language.iso_code}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {foreach from=$languages item=lang}
                                    <li><a href="javascript:hideOtherLanguage({$lang.id_lang});" tabindex="-1">{$lang.name}</a></li>
                                {/foreach}
                            </ul>
                        </div>
                    {/if}

                    {if isset($input.delete_button) && $input.delete_button}
                        <div class="col-lg-1">
                            <button class="btn btn-default ccl-delete-block">
                                <i class="icon-trash"></i>
                            </button>
                        </div>
                    {/if}
                </div>

                {if $languages|count > 1}
                    </div>
                {/if}
            {/foreach}
        </div>
    {elseif $input.type == 'file'}
        <div class="col-lg-9 {if !isset($input.label)}col-lg-offset-3{/if}">
            {foreach from=$languages item=language}
                {if $languages|count > 1}
                    <div class="translatable-field lang-{$language.id_lang}" {if $language.id_lang != $defaultFormLanguage}style="display:none"{/if}>
                {/if}

                <div class="row">
                    <div class="col-lg-9">
                        <input id="{$input.name}_{$language.id_lang}" type="file" name="{$input.name}_{$language.id_lang}" class="hide">

                        <div class="dummyfile input-group">
                            <span class="input-group-addon"><i class="icon-file"></i></span>

                            <input id="{$input.name}_{$language.id_lang}-name" type="text" name="{$input.name}_{$language.id_lang}"
                                   value="{$fields_value[$input.name][$language.id_lang]}" class="disabled" readonly>

                            <span class="input-group-btn">
                                <button id="{$input.name}_{$language.id_lang}-selectbutton" type="button" name="submitAddAttachments" class="btn btn-default">
                                    <i class="icon-folder-open"></i> {l s='Choose a file' d='Admin.Actions'}
                                </button>
                            </span>
                        </div>
                    </div>

                    {if $languages|count > 1}
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-default dropdown-toggle" tabindex="-1" data-toggle="dropdown">
                                {$language.iso_code}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {foreach from=$languages item=lang}
                                    <li><a href="javascript:hideOtherLanguage({$lang.id_lang});" tabindex="-1">{$lang.name}</a></li>
                                {/foreach}
                            </ul>
                        </div>
                    {/if}

                    {if isset($input.delete_button) && $input.delete_button}
                        <div class="col-lg-1">
                            <button class="btn btn-default ccl-delete-block">
                                <i class="icon-trash"></i>
                            </button>
                        </div>
                    {/if}
                </div>

                <div class="row">
                    {if isset($fields_value[$input.name][$language.id_lang]) && $fields_value[$input.name][$language.id_lang] != ''}
                        <div id="{$input.name}-{$language.id_lang}-images-thumbnails" class="col-lg-12">
                            <img src="{$uri}img/{$fields_value[$input.name][$language.id_lang]}" class="img-thumbnail" style="margin-top: 15px;max-width: 400px;">
                        </div>
                    {/if}
                </div>

                {if $languages|count > 1}
                    </div>
                {/if}

                <script>
                    $(document).ready(function(){
                        $('#{$input.name}_{$language.id_lang}-selectbutton').click(function(e){
                            $('#{$input.name}_{$language.id_lang}').trigger('click');
                        });
                        $('#{$input.name}_{$language.id_lang}').change(function(e){
                            var val = $(this).val();
                            var file = val.split(/[\\/]/);
                            $('#{$input.name}_{$language.id_lang}-name').val(file[file.length-1]);
                        });
                    });
                </script>
            {/foreach}
        </div>
    {elseif $input.type == 'textarea'}
        <div class="col-lg-9 {if !isset($input.label)}col-lg-offset-3{/if}">
            {foreach from=$languages item=language}
                {if $languages|count > 1}
                    <div class="translatable-field lang-{$language.id_lang}" {if $language.id_lang != $defaultFormLanguage}style="display:none"{/if}>
                {/if}

                <div class="row">
                    <div class="col-lg-9">
                        <textarea id="{$input.name}_{$language.id_lang}" name="{$input.name}_{$language.id_lang}"
                                  class="{if isset($input.autoload_rte) && $input.autoload_rte}rte autoload_rte{else}textarea-autosize{/if}">{$fields_value[$input.name][$language.id_lang]|escape:'html':'UTF-8'}</textarea>
                    </div>

                    {if $languages|count > 1}
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-default dropdown-toggle" tabindex="-1" data-toggle="dropdown">
                                {$language.iso_code}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {foreach from=$languages item=lang}
                                    <li><a href="javascript:hideOtherLanguage({$lang.id_lang});" tabindex="-1">{$lang.name}</a></li>
                                {/foreach}
                            </ul>
                        </div>
                    {/if}

                    {if isset($input.delete_button) && $input.delete_button}
                        <div class="col-lg-1">
                            <button class="btn btn-default ccl-delete-block">
                                <i class="icon-trash"></i>
                            </button>
                        </div>
                    {/if}
                </div>

                {if $languages|count > 1}
                    </div>
                {/if}
            {/foreach}
        </div>
    {else}
        {$smarty.block.parent}
    {/if}
{/block}
