/**
 ** GLOBAL **
 */

.ccl-front {
    padding-bottom: 40px;
}

.ccl-front h1,
.ccl-front h2 {
    font-family: 'LemonMilk', sans-serif;
    font-weight: 400;
    margin-bottom: 25px;
    color: #008bae;
}

.ccl-front h1 {
    font-size: 36px;
    line-height: 17px;
}

.ccl-front h2 {
    font-size: 26px;
}

.ccl-front h3,
.ccl-front h4,
.ccl-front h5,
.ccl-front h6 {
    font-family: 'MyriadPro-Bold', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.ccl-front h3 {
    font-size: 24px;
}

.ccl-front p,
.ccl-front li {
    font-family: 'MyriadPro-Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #351010;
}

.ccl-front strong,
.ccl-front b {
    font-family: "MyriadPro-Bold", sans-serif;
    font-weight: 400;
}

.ccl-front ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.ccl-front li {
    padding-left: 20px;
    position: relative;
}

.ccl-front li::before {
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    background: #008bae;
    border-radius: 100%;
    position: absolute;
    top: 7px;
    left: 0;
}

/* link */
.ccl-front a:not(.btn) {
    text-decoration: underline;
}

.ccl-front a:not(.btn):hover {
    color: #008bae;
}

/* button */
.ccl-front a.btn {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 14px;
    font-family: 'MyriadPro-Bold', sans-serif;
    font-weight: 400;
    text-decoration: none;

    /* button effect */
    background: #008bae;
    color: #fff;
    position: relative;
    z-index: 1;
    border: 0.1rem solid #008bae;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

/* button effect */
.ccl-front a.btn::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #00627b;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 100%;
    transition: all 0.3s ease-in-out;
}

.ccl-front a.btn:hover,
.ccl-front a.btn:focus,
.ccl-front a.btn:active {
    cursor: pointer;
    color: #fff;
    border-color: #00627b;
}

.ccl-front a.btn:hover::before,
.ccl-front a.btn:focus::before,
.ccl-front a.btn:active::before {
    top: 0;
}

.ccl-front > *:not(.p-txt) {
    margin-top: 25px;
}

/**
 ** PATTERNS **
 */

/* Pattern sharing class */
.p-section {
}

.p-section p:last-child {
    margin-bottom: 0;
}

/* Pattern text */
.p-txt {
    margin-top: 80px;
}

/* Pattern textarea */
.p-txtarea {
    margin-left: auto;
    margin-right: auto;
    /*max-width: 768px;*/
}

/* Pattern image */
.p-img {
}

/* Pattern text to the left and image to the right */
.p-txt-img {
}

.p-txt-img__text {
}

.p-txt-img__image-container {
    min-height: 250px;
}

.p-txt-img__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Pattern image to the left and text to the right */
.p-img-txt {
}

.p-img-txt__text {
}

.p-img-txt__image-container {
    min-height: 250px;
}

.p-img-txt__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/**
 ** RESPONSIVE **
 */

@media screen and (max-width: 767px) {
    .ccl-front h1 {
        font-size: 28px;
        line-height: 17px;
    }

    .ccl-front h2 {
        font-size: 21px;
    }

    .ccl-front h3 {
        font-size: 22px;
    }

    .p-txt {
        text-align: center;
    }

    .p-txt-img {
        flex-direction: column-reverse;
    }

    .p-txt-img__image-container,
    .p-img-txt__image-container {
        min-height: inherit;
        margin-bottom: 18px;
    }
}